<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <table class="table1">
        <tr>
            <td class="td1">Name</td>
            <td class="td1">Price</td>
            <td class="td1">Type</td>
            <td class="td1">Salelocation</td>
            <td class="td1">Update</td>
            <td class="td1">Delete</td>
        </tr>
        <% info.forEach(function(justOne) { %>
            <tr>
                <td class="td1">
                    <%= justOne.login %>
                </td>
                <td class="td1">
                    <%= justOne.price %>
                </td>
                <td class="td1">
                    <%= justOne.type %>
                </td>
                <td class="td1">
                    <%= justOne.salelocation %>
                </td>
                <td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
                <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
            </tr>
            <% }); %>
    </table>

    <input class="input1" id="prodName" type="text" name="login" placeholder="Name">
    <input class="input1" id="price" type="text" name="price" placeholder="price">
    <input class="input1" id="type" type="text" name="type" placeholder="type">
    <input class="input1" id="salelocation" type="text" name="salelocation" placeholder="salelocation">
    <input class="input2" type="submit" name="Send" placeholder="Send" onclick="getVal()">
    <script src="./script.js"></script>

    <footer>

		<div>
			<h6>Designet by Arman Isayan</h6>
		</div>
	</footer>

</body>

</html>