<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumo Products</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="#"><h1>Tumo Products</h1></a>
        </div>

        <div class="menu">
            <nav>
                <h3><a href="login.html">Registration Rules</a></h3 >
            </nav>
        </div>
        </header>

<div class="div3">
    <div class="div2">
    <table class="table1">
        <tr>
            <td class="td1">Name</td>
            <td class="td1">Price</td>
            <td class="td1">Type</td>
            <td class="td1">Salelocation</td>
            <td class="td1">Update</td>
            <td class="td1">Delete</td>
        </tr>
        <% info.forEach(function(justOne) { %>
            <tr>
                <td class="td1">
                    <%= justOne.login %>
                </td>
                <td class="td1">
                    <%= justOne.price %>
                </td>
                <td class="td1">
                    <%= justOne.type %>
                </td>
                <td class="td1">
                    <%= justOne.salelocation %>
                </td>
                <td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
                <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
            </tr>
            <% }); %>
    </table>
    </div>
<div class="div1">
    <input class="input1" id="prodName" type="text" name="login" placeholder="Name">
    <input class="input1" id="price" type="text" name="price" placeholder="Price">
    <input class="input1" id="type" type="text" name="type" placeholder="Type">
    <input class="input1" id="salelocation" type="text" name="salelocation" placeholder="Sale Location">
    <input class="input2" type="submit" name="Send" value="Send" onclick="getVal()">
    <script src="./script.js"></script>
</div>
</div>
<footer>
    <div>
    <a href="https://www.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/800px-Facebook_icon.svg.png" class="img1"></a>
    <a href="https://www.instagram.com/"><img src="https://pbs.twimg.com/profile_images/1526231349354303489/3Bg-2ZsT_400x400.jpg" class="img1"></a>
    <a href="https://www.youtube.com/"><img src="https://media.wired.com/photos/5955b54f3ff99d6b3a1d14a1/master/w_2560%2Cc_limit/youtube-facebook.jpg" class="img1"></a>
    <a href="https://twitter.com/?lang=en"><img src="http://store-images.s-microsoft.com/image/apps.50484.9007199266244427.4d45042b-d7a5-4a83-be66-97779553b24d.2c71c1ea-c28f-4dd1-b72d-c43cdd3476f4" class="img1"></a>
    <a href=""></a>
    </div>

    <div>
        <h6>&#169; Designet by Arman Isayan</h6>
    </div>
</footer>

</body>

</html>
